<% if !@user %>
<div class="page-header"><h1>Greetings!</h1></div>
<%= image_tag asset_path('fiveBanner.jpg')%>
<p class="lead">Designer & Coder lets designers and coders build better stuff by finding a partner with a complimentary skill set.  It's okay to charge money for your services....just not here.  Designer and Coder is for people who want to build awesome things together.</p>
<hr>
<%= link_to 'I\'m a designer', new_user_path(:designer=>true), :class => 'btn btn-primary btn-large jumbotron' %>

<%= link_to 'I\'m a coder',  new_user_path(:coder=>true), :class => 'btn btn-primary btn-large jumbotron' %>
<% end %>

	<%= form_for @user do |user_form| %>	

		<%= render :partial=>"user_form", :locals=>{:user_form => user_form } %>

		
		<%= render :partial=>"designer_form", :locals=>{:user_form => user_form } if @user.designer_profile %>

		<%= render :partial=>"coder_form", :locals=>{:user_form => user_form } if @user.coder_profile %>

	<div class="form-actions">
      <%= user_form.submit "Create My Profile", :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', new_user_path, :class => 'btn' %>
   </div>

	<% end if @user %>


