<br/><br/>
<% if !@user %>
<%= link_to 'I am a designer seeking a coder', new_user_path(:designer=>true), :class => 'btn btn-primary btn-large' %>

<%= link_to 'I am coder seeking a designer',  new_user_path(:coder=>true), :class => 'btn btn-primary btn-large' %>
<% end %>

	<%= form_for @user do |user_form| %>	

		
		<%= render :partial=>"designer_form", :locals=>{:user_form => user_form } if @user.designer_profile %>

		<%= render :partial=>"coder_form", :locals=>{:user_form => user_form } if @user.coder_profile %>

	<div class="form-actions">
      <%= user_form.submit "Create My Profile", :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', new_user_path, :class => 'btn' %>
   </div>

	<% end if @user %>


