<h1>Designers Seeking Coders</h1>

<%= render :partial => "designer_profile", :collection => @designer_profiles %>

<br>
<br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Dribble profile</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @designer_profiles.each do |designer_profile| %>
      <tr>
        <td><%= designer_profile.id %></td>
        <td><%= link_to designer_profile.dribble_profile, designer_profile_path(designer_profile) %></td>
        <td><%= designer_profile.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_designer_profile_path(designer_profile), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', designer_profile_path(designer_profile), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_designer_profile_path, :class => 'btn btn-primary' %>
