<hr>


		<div class="row coder_profile">
			<div class="span3">
				<div class="designer_icon">
					<%= image_tag current_user.twitter_profile_image_url, :class => 'circle' %>
					<span class="amp">&amp;</span> 
				</div>
				<div class="octagon">
					<div class="octagon-top" style="background-image: url('<%= coder_profile.user.twitter_profile_image_url %>');"></div>
					<div class="octagon-middle" style=" background-image: url('<%= coder_profile.user.twitter_profile_image_url %>');"></div>
					<div class="octagon-bottom" style=" background-image: url('<%= coder_profile.user.twitter_profile_image_url %>');"></div>
				</div><!-- end octagon -->

			</div><!-- end span3 -->
			<div class="span6">
				<h1 class="user_name"><%= coder_profile.user.name %><span class="location"></span></h1>
				<h4><i class="icon-map-marker"></i><%= coder_profile.user.twitter_location %> <i class="icon-magnet"></i>432 Followers</h4>
				<br>
				<p><strong>I'm interested in collaborating on:</strong> a crazy idea I have about how to integrate Facebook and Pinterest.</p>
				<div class="somethingcool">Something cool I've made: <a href="http://www.google.com/">www.google.com</a></div>
				<div class="github_url">Github url: <a href="#">Github.com/animalrobot</a></div>
				<br>

				<a href="https://twitter.com/intent/tweet?screen_name=<%= coder_profile.user.twitter_username %>" class="btn btn-mini" data-related="DesignerCoder"><i class="icon-comment"></i> Say hi :) </a> 

				<a href="https://twitter.com/intent/tweet?screen_name=<%= coder_profile.user.twitter_username %>" class="btn btn-mini" data-related="DesignerCoder"><i class="icon-user"></i> Follow</a>
			</div>
		</div>
		
<hr>