<!DOCTYPE html>
<html>
<head>
  <title>Designerandcoder</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<div class="container">
	
	<%= render "layouts/alerts" %>
	
	<% if current_user %>
	  Welcome <%= current_user.name %>!
	  <%= link_to "Sign Out", signout_path %>
		<%= link_to "My Profile", current_user.designer_profile.present? ? edit_designer_profile_path(current_user) : edit_coder_profile_path(current_user) %>
	<% else %>
	  <%= link_to "Sign in with Twitter", "/auth/twitter" %>
	<% end %>
	
	
	
	<%= yield %>
	
</div><!-- end container -->

</body>
</html>
