<!DOCTYPE html>
<html>
<head>
  <title>Designerandcoder</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<div class="container">
	
	<%= render "layouts/alerts" %>
	
<% if current_user %>
<ul id="nav">
<% if  current_user.designer_profile.present? || current_user.coder_profile.present? %>
<li><%= link_to "Designers", designers_path %></li>
<li><%= link_to "Coders", coders_path %></li>
<li><%= link_to "My Profile", edit_user_path(current_user) %></li>
<% end %>
<li><%= link_to "Sign Out", signout_path %></li>
</ul>
<% end %>

	
	
	<%= yield %>
	
</div><!-- end container -->

</body>
</html>
